:host {
    display: block;
    flex: 1;
}

.scroll-area {
    width: 100%;
    max-height: 100%;
    position: absolute;
    border: 1px solid #EEEEEE;
    display: block;
    overflow: auto;
}

.ant-spin {
    max-height: none !important;
    background-color: rgba(200, 200, 200, 0.1);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    th, .header {
        position: relative;
        z-index: 1;
    }
    th[nzShowCheckbox] {
        width: 32px;
    }
    th, td {
        padding: 8px;
        border-bottom: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        background-color: #FFFFFF;
    }
    th:last-child, td:last-child {
        border-right: none;
    }
    tr:last-child > td {
        border-bottom: none;
    }
    tbody > tr:hover > td {
        background-color: #e6f7ff;
        transition: background-color 300ms;
    }
    .active > td {
        background-color: #e6f7ff;
    }
    .header {
        // font-weight: bold;
    }
    .z-header {
        z-index: 2;
    }
}
