<div class="thead" #THEAD>
    <div #THR class="tr">
        <th class="th lh" #TTH #LH *ngIf="showIndex">#</th>
        <th class="th" #TTH
            *ngIf="collection.showCheckbox"
            nzShowCheckbox
            [(nzChecked)]="allChecked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="checkAll($event)"></th>
        <th class="th" #TTH
            *ngFor="let header of collection.headers"
            [style.width]="toString(header.width)"
            [nzShowSort]="header.allowSort"
            (nzSortChange)="sort(header.value, $event)">{{header.label}}
        </th>
    </div>
</div>
<div class="body ant-spin-nested-loading">
    <div #Scroll class="scroll-area" (scroll)="onScroll()">
        <table>
            <thead>
            <tr>
                <th #TH #LH *ngIf="showIndex" class="lh" [style.width.px]="LHIWidth()"></th>
                <th #TH *ngIf="collection.showCheckbox" style="width: 32px"></th>
                <th #TH *ngFor="let header of collection.headers"
                    [style.width]="toString(header.width)"
                    [style.minWidth]="toString(header.minWidth)"
                    [style.maxWidth]="toString(header.maxWidth)">{{header.label}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of collection.data; let row = index" [class.active]="item === collection.currentItem"
                (click)="click(item)" (dblclick)="dblClick(item)">
                <td #LH *ngIf="showIndex" class="header">{{index(row)}}</td>
                <td *ngIf="collection.showCheckbox" nzShowCheckbox [(nzChecked)]="item.$checked"
                    (nzCheckedChange)="refreshStatus(item)"></td>
                <td *ngFor="let header of collection.headers" [style.color]="color(item, header)">
                    <a href="javascript:" *ngIf="header.click" (click)="header.click(item, header)">{{collection.getValue(item, header)}}</a>
                    <ng-container *ngIf="!header.click"> {{collection.getValue(item, header)}}</ng-container>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="!collection.pending">
        <div class="ant-spin ant-spin-show-text ant-spin-spinning">
            <span class="ant-spin-dot ant-spin-dot-spin"><i></i><i></i><i></i><i></i></span>
            <div class="ant-spin-text">Loading...</div>
        </div>
    </div>
</div>
<div class="tfoot" #TFOOT *ngIf="collection.footers.length">
    <div #THR class="tr" *ngFor="let item of collection.footers; let row = index">
        <th class="th lh" #LH *ngIf="showIndex">Σ</th>
        <th class="th" *ngIf="collection.showCheckbox"></th>
        <th class="th" *ngFor="let header of collection.headers; let col = index">{{item[col]}}</th>
    </div>
</div>
